
.orange{
    background-color: orange;
}
td{
    padding: 10px;
}
.pink
{
    background-color: pink;
}
.blue
{
    background-color: skyblue;
}
.dark_pink
{
    background-color: deeppink;
}
.yellow
{
    background-color: yellow;
}
.dark_green
{
    background-color:mediumseagreen;
}
.green{
    background-color: greenyellow
}
.dark_blue
{
    background-color:royalblue;
}
.purple
{
    background-color:palevioletred;
}